<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
           <!--构造赋值-->
             <bean id="service" class="happy.HappyService">
           <constructor-arg index="0" value="周永琪"></constructor-arg>
                <constructor-arg index="1" value="18"></constructor-arg>
            </bean>
</beans>